In [1]:
import random
from datetime import datetime, timedelta

classes_to_courses = {
    1: 1, 2: 1, 3: 2, 4: 2, 5: 3, 6: 3, 7: 4, 8: 4, 9: 5, 10: 5,
    11: 1, 12: 2, 13: 3, 14: 4, 15: 5, 16: 1, 17: 2, 18: 3, 19: 4, 20: 5
}

enrollments = [
    (1, 1), (2, 1), (3, 1), (7, 1), (10, 1), (13, 1), (16, 1), (19, 1), (22, 1), (25, 1), (28, 1),
    (4, 2), (6, 2), (8, 2), (11, 2), (14, 2), (17, 2), (20, 2), (23, 2), (26, 2), (29, 2),
    (1, 3), (5, 3), (9, 3), (12, 3), (15, 3), (18, 3), (21, 3), (24, 3), (27, 3), (30, 3),
    (1, 4), (4, 4), (8, 4), (12, 4), (16, 4), (20, 4), (24, 4), (28, 4),
    (2, 5), (5, 5), (10, 5), (15, 5), (20, 5), (25, 5), (30, 5), (3, 5), (6, 5), (9, 5), (11, 5)
]

courses_to_students = {}
for student_id, course_id in enrollments:
    if course_id not in courses_to_students:
        courses_to_students[course_id] = []
    courses_to_students[course_id].append(student_id)

NUM_EVENTS = 350
OUTPUT_FILENAME = "dml_emotion_events.sql"

emotions = {
    1: {"name": "happy", "valence_range": (0.5, 1.0), "arousal_range": (0.2, 0.6)},
    2: {"name": "sad", "valence_range": (-1.0, -0.5), "arousal_range": (-0.5, -0.2)},
    3: {"name": "neutral", "valence_range": (-0.2, 0.2), "arousal_range": (-0.3, 0.3)},
    4: {"name": "surprised", "valence_range": (0.1, 0.6), "arousal_range": (0.5, 0.9)},
    5: {"name": "angry", "valence_range": (-0.8, -0.4), "arousal_range": (0.6, 0.9)},
    6: {"name": "fear", "valence_range": (-0.7, -0.3), "arousal_range": (0.5, 0.8)},
    7: {"name": "disgust", "valence_range": (-0.9, -0.5), "arousal_range": (0.3, 0.6)}
}

sql_inserts = []
all_class_ids = list(classes_to_courses.keys())

for _ in range(NUM_EVENTS):

    class_id = random.choice(all_class_ids)
    course_id = classes_to_courses[class_id]

    possible_students = courses_to_students.get(course_id)
    if not possible_students:
        continue
    student_id = random.choice(possible_students)

    ts = datetime(2025, 9, random.randint(1, 28), random.randint(9, 17), random.randint(0, 59), random.randint(0, 59))
    ts_str = ts.strftime('%Y-%m-%d %H:%M:%S+05')
    source = random.choice(['video', 'audio', 'text'])

    emotion_id = random.choice(list(emotions.keys()))
    emotion_details = emotions[emotion_id]

    valence = round(random.uniform(*emotion_details["valence_range"]), 3)
    arousal = round(random.uniform(*emotion_details["arousal_range"]), 3)
    confidence = round(random.uniform(0.70, 0.99), 2)

    sql_inserts.append(
        f"({class_id}, {student_id}, '{ts_str}', '{source}', {emotion_id}, {valence}, {arousal}, {confidence})"
    )

full_sql_script = "INSERT INTO emotion_events (class_id, student_id, ts, source, dominant_emotion_id, valence, arousal, confidence) VALUES\n"
full_sql_script += ",\n".join(sql_inserts)
full_sql_script += ";"

with open(OUTPUT_FILENAME, 'w', encoding='utf-8') as f:
    f.write(full_sql_script)

✅ Файл 'dml_emotion_events.sql' с 350 записями успешно создан.